---
import Layout from "../../layouts/LayoutPage.astro";
import AlienWorldsImg from "../../../images/scifi/alienworlds.avif"
import AlienWorldsCard from '../../components/scifi/AlienWorldsCard.astro';
import AlteredCarbonImg from '../../../images/scifi/alteredcarbon.avif';
import AlteredCarbonCard from '../../components/scifi/AlteredCarbonCard.astro';
import CowboyBeBopImg from '../../../images/scifi/cowboy_bebop.avif';
import CowboyBeBopCard from "../../components/scifi/CowboyBeBop.astro";
import ForAllManKindImg from '../../../images/scifi/forallmankind.avif';
import ForAllManKindCard from '../../components/scifi/ForAllManKindCard.astro';
import FoundationImg from '../../../images/scifi/Foundation_1Thumb.avif';
import FoundationCard from '../../components/scifi/FoundationCard.astro';
import HaloImg from '../../../images/scifi/halo.avif';
import HaloCard from "../../components/scifi/HaloCard.astro";
import LostInSpaceImg from '../../../images/scifi/lostinspace.avif';
import LostInSpaceCard from "../../components/scifi/LostInSpaceCard.astro";
import NightSkyImg from '../../../images/scifi/nightsky.avif';
import NightSkyCard from "../../components/scifi/NightSkyCard.astro";
import OrvilleImg from '../../../images/scifi/orville.avif';
import OrvilleCard from "../../components/scifi/OrvilleCard.astro";
import RaisedByWolvesImg from '../../../images/scifi/raisedbywolves.avif';
import RaisedByWolvesCard from "../../components/scifi/RaisedByWolvesCard.astro";
import TheLastOfUsImg from "../../../images/scifi/lastofus.avif";
import TheLastOfUsCard from "../../components/scifi/TheLastOfUsCard.astro";

import BlackKnightImg from "../../../images/scifi/blackknight.avif";
import BlackKnightCard from "../../components/scifi/BlackKnightCard.astro";
import Playercontrols from "../../components/playercontrols.astro";
---

<Layout title="SciFi">
    <main>
        <div class="grid xxsm:grid-cols-2 xsm:grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-2 items-center">
            <AlienWorldsCard title="Alien Worlds" src={AlienWorldsImg} />
            <AlteredCarbonCard title="Altered Carbon" src={AlteredCarbonImg} />
            <CowboyBeBopCard title="Cowboy BeBop" src={CowboyBeBopImg} />
			<ForAllManKindCard title="For All Mankind" src={ForAllManKindImg} />
			<FoundationCard title="Foundation" src={FoundationImg} />
            <LostInSpaceCard title="Lost In Space" src={LostInSpaceImg} />
            <BlackKnightCard title="Black Knight" src={BlackKnightImg} />
            <RaisedByWolvesCard title="Raised By Wolves" src={RaisedByWolvesImg} />
            <NightSkyCard title="Night Sky" src={NightSkyImg} />
            <TheLastOfUsCard title="The Last Of Us" src={TheLastOfUsImg} />
            <OrvilleCard title="Orville" src={OrvilleImg} />
            <HaloCard title="Halo" src={HaloImg} />
        </div>
        <Playercontrols />
    </main>
</Layout>