---
import Layout from "../../layouts/LayoutPage.astro";
import DiscoveryImg from "../../../images/startrek/discovery.avif";
import DiscoveryCard from "../../components/startrek/DiscoveryCard.astro";
import EnterpriseImg from '../../../images/startrek/enterprise.avif';
import EnterpriseCard from "../../components/startrek/EnterpriseCard.astro";
import NextGenImg from '../../../images/startrek/nextgen.avif';
import NextGenCard from "../../components/startrek/NextGenCard.astro";
import PicardImg from '../../../images/startrek/picard.avif';
import PicardCard from "../../components/startrek/PicardCard.astro";
import ProdigyImg from '../../../images/startrek/prodigyposter.avif';
import ProdigyCard from "../../components/startrek/ProdigyCard.astro";
import LowerDecksImg from '../../../images/startrek/lowerdecks.avif';
import LowerDecksCard from "../../components/startrek/LowerDecksCard.astro";
import StrangeNewWorldsImg from '../../../images/startrek/star_trek_strange_new_worlds.avif';
import StrangeNewWorldsCard from "../../components/startrek/StrangeNewWorldCard.astro";
import STTVImg from '../../../images/startrek/sttv.avif';
import STTVCard from "../../components/startrek/STTVCard.astro";
import VoyagerImg from '../../../images/startrek/voyager.avif';
import VoyagerCard from "../../components/startrek/VoyagerCard.astro";
import Playercontrols from "../../components/playercontrols.astro";
---

<Layout title="MCU">
    <main>
        <div class="grid xxsm:grid-cols-2 xsm:grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-2 items-center">
            
            <VoyagerCard src={VoyagerImg} title="Voyager" />
            <STTVCard src={STTVImg} title="Star Trek" />
            <EnterpriseCard src={EnterpriseImg} title="Enterprise" />
            <NextGenCard src={NextGenImg} title="Next Generation" />
            <DiscoveryCard src={DiscoveryImg} title="Discovery" />
            <PicardCard src={PicardImg} title="Picard" />
            <LowerDecksCard src={LowerDecksImg} title="Lower Decks" />
            <ProdigyCard src={ProdigyImg} title="Prodigy" />
            <StrangeNewWorldsCard src={StrangeNewWorldsImg} title="Strange New Worlds" />

        </div>
        <Playercontrols />
    </main>
</Layout>